<messagesForm (addMessage) = "optimisticAdd($event)" (addMessagePs) = "pasimisticAdd()"></messagesForm>   <!--create event add message that metupelet by 'optimisticAdd' and her input is the "this.msgform.value.message"-->
<h2>
  List of messages:
</h2>

<ul class = "list-group">
  <!--li *ngFor = "let message of messages">{{message}}</li-->
  <li class = "list-group-item" *ngFor = "let key of messagesKeys">
    <button class="btn btn-danger" (click) = "deleteMessage(key)">Delete</button>
    <a [routerLink] = "['/message', key]">{{'message number '+key+' '+messages[key].body}}</a>
  </li>
</ul>