<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink = "">messages</a></li>
        <li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink = "users">users</a></li>
        <li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink = "login">login</a></li>
      </ul>
    </div>
  </div>
</nav>