<form [formGroup] = "loginform" (ngSubmit) = "login()" > <!--הגדרת המשתנה ששולט בטופס הזה. הגדרנו אותו בקובץ הts--><!--בסוגריים, מפעילים פונקציית איבנט-->
  <div>
    <label for="user"></label>
    <input type="text" name="user" id="user" class="form-control" formControlName ="user"> <!--עבור כל שדה, מגדיר לאן הוא מתחבר במשתנה שהגדרנו--><!--formControlName-->
  </div>
  <div>
    <label for="password"></label>
    <input type="text" name="password" id="password" class="form-control" formControlName ="password">
  </div>
  <div *ngIf = "invlaid" class="alert alert-danger">Invalid user or password</div>
  <input type="submit" value="login" class="btn btn-primary">
</form>
<div>
  <button (click) = "logout()">logout</button>
</div>