<h2>
  List of Users:
</h2>

<ul class = "list-group">
  <!--li *ngFor = "let key of usersKeys">{{'user number ' + key + ' ' + users[key].username}}</li-->
  <li class = "list-group-item" *ngFor = "let key of usersKeys">
    <button class="btn btn-danger" (click) = "deleteUser(key)">Delete</button>
    <a [routerLink] = "['/user', key]">{{'user number '+key+' '+users[key].username}}</a>
  </li>
</ul>



